
body {
  //background: #111111;
  //background: #efefef;
}

@media only screen and (max-width: 400px) {
}

@media only screen and (min-width: 500px) {
  body {
    overflow-y: hidden;
  }
}

body {
  display: flex;
  align-content: middle;
}


