span {
  //border: 1px solid black;
}

body {
  background: #111111;
}

.flip-card {
  transform: rotateY(-180deg);
}
.flip-again {
  transform: rotateY(-360deg);
}

.deck-container {
  margin: auto;
  //padding: auto;
  
  position: relative;
  top: 100px;
  
  width: 300px;
  height: 400px;
  
  perspective: 600px;
}

.card {
  width  : 100%;
  height : 100%;
  
  backface-visibility : hidden;
  transform-style     : preserve-3d;
  transition          : all 1s ease-in-out;
}

.kanji-div {
  position: relative;
  width: 100%;
  height: 50%;
}

.kanji {
  position: relative;
  top: 30px;
  
  font-size: 180px;
  //border: 1px solid black;
}

.level {
  position: absolute;
  float: right;
  
  top   : 5px;
  right : 5px;
  
  font-size: 25px;
  //color: blue;
  margin: 4px;
  
  //border: 1px solid black;
  //border-radius: 100%;
}

.reading-options {
  padding-top: 25px;
  text-align: center;
}

.reading-option-div {
  position: relative;
  display: block;
  
  padding-top: 10px;
}

.option-clicked-nodisplay,
.option-clicked-correct,
.option-clicked-incorrect {
  position: absolute;
  width: 20px;
  height: 20px;
  
  top: 20px;
  left: 50px;
  
  border: 1px solid black;
}

.option-clicked-nodisplay {
  //border: 1px solid black;
  background: black;
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

.option-clicked-correct {
  border: 3px solid green;
  background: white;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  
}
.option-clicked-incorrect {
  background: red;
}

.reading-option {
  padding-top: 10px;
  font-size: 33px;
}

.meaning-div {
  position: relative;
  top: 10px;
  width: 100%;
}

.meaning {
  font-size: 17px;
}

.reading-table {
  position: relative;
  width: 100%;
  height: 40%;
  
  top: 30px;
  //border: 1px solid black;
}
.reading-row td, .reading-header td {
  position: relative;
  width: 50%;
  height: 10px;
}

tr {
  position: relative;
  height: 0px;
  width: 0px;
  margin: 0;
  padding: 0;
  //border: 2px solid green;
}

.reading-header td {
  font-size: 25px;
  //border: 1px solid red;
}

.reading-row td {
  font-size: 23px;
  //border: 1px solid blue;
}

.face {
  position : absolute;
  height   : 100%;
  width    : 100%;
  backface-visibility: hidden;
  
  background: white;
  
  text-align: center;
  
  border        : 1px solid black;
  border-radius : 0px 10px 0px 0px;
  
  cursor: pointer;
}

.face.back {
  transform: rotateY(180deg);
}


